* {
    margin: 0px;
    padding: 0px;
}
body {
    background: hsl(0, 15%, 15%);
    color: aqua; 
    text-align: center;
    font: 100px;
    
}
p {
    text-align: center;
    font: 500px;
}
address {

    color: blanchedalmond;
    text-align:center;
    padding: 30px;
    background-color:black;
}

